body {
    margin: 0;
    background-color: #9AABD8;
}

.container {
    display: flex;
    justify-content: space-around;
    font-family: 'Cursed Timer ULiL', sans-serif;


}

.home-score{
    width: 155px;
    height: 120px;
    background: #080001;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#mt{
    font-family: sans-serif;
    margin-left: 50px;
}
.home-points-text{
    color: #F94F6D;
    font-size: 5em;
}

.btn-container{
    display: flex;
}
#home-btn{
    margin-top: 26px;
    margin-left: 0px;
    

}
button{
    padding: 5px 7px;
    font-family: inherit;
    margin-left: 4px;
    margin-right: 5px;
    
}
#away-btn{
    margin-left: 0px;
    margin-top: 26px;
}